body {
    background-color: #f0f0f0;
    font-family: system-ui, sans-serif;
}

.logo {
    width: 320px;
    height: 120px;
}

.header-nav {
    align-items: center;
    padding: 10px 20px;
}

.header-nav a {
    text-decoration: none;
    color: white;
    margin: 0 10px;
    background-color: #fd9013;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.header-nav a:hover {
    background-color: #007bff;
    color: white;
}

main {
    display: flex;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    max-height: 70vh;
    overflow-y: auto;
}

#outlet-post {
    flex: 2;
    padding: 20px;
}

#outlet ul {
    list-style: none;
    padding: 0;
}

#title {
    font-size: 1.2em;
    margin-bottom: 10px;
}
